/* PAGE BACKGROUND */
body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;

    background: linear-gradient(-45deg,#667eea,#764ba2,#6dd5ed,#f7971e,#ffd200);
    background-size:400% 400%;
    animation: gradientBG 12s ease infinite;

    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    
}

body{
    padding-top:80px;
}
/* GRADIENT ANIMATION */
@keyframes gradientBG{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

/* MAIN TITLE */
.title{
    position:fixed;
    top:5px;
    left:50%;
    transform:translateX(-50%);
    font-size:36px;
    font-weight:bold;
    color:black;
    text-align:center;
}
/* FORM CARD */
form{
    background: linear-gradient(-45deg,#667eea,#764ba2,#6dd5ed,#f7971e,#ffd200);
    background-size:400% 400%;
    animation: gradientForm 10s ease infinite;

    padding:35px;
    width:520px;
    border-radius:12px;
    box-shadow:0 12px 30px rgba(0,0,0,0.2);
}
@keyframes gradientForm{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

/* SECTION HEADINGS */
h2{
    color:#444;
    margin-top:25px;
    border-bottom:2px solid #ddd;
    padding-bottom:5px;
}

/* LABELS */
label{
    display:block;
    margin-top:12px;
    font-weight:bold;
}

/* INPUTS */
input,textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid #ccc;
}

/* INPUT FOCUS */
input:focus,textarea:focus{
    outline:none;
    border-color:#667eea;
    box-shadow:0 0 6px rgba(102,126,234,0.4);
}

/* BUTTON */
button{
    display:block;
    margin:25px auto;
    padding:12px 25px;
    background:linear-gradient(90deg,#43cea2,#185a9d);
    color:white;
    border:none;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

/* BUTTON HOVER */
button:hover{
    transform:scale(1.05);
    background:linear-gradient(90deg,#185a9d,#43cea2);
}
